<div class="navbar">
    <div class="left-section">
       <div class="nav-logo">
        <i class="bi bi-wrench-adjustable"></i> Nexora
      </div>
      <div class="nav-search">
         <i class="bi bi-search"></i>
         <input type="text" id="nav-search-input" placeholder="Search..." />
      </div>
    </div>



    <div class="right-section">
      <a href="/home_profile" class="nav-item">
         <i class="bi bi-house-fill"></i>
         <span>Home</span>
      </a>
    

     <a href="/roadmap" class="nav-item">
        <i class="bi bi-lightning-charge-fill"></i>
        <span>RoadMap</span>
      </a>
     <a href="/interview" class="nav-item">
         <i class="bi bi-chat-text-fill"></i>
         <span>Interview</span>
     </a>
     <a href="/jobs" class="nav-item">
         <i class="bi bi-briefcase-fill"></i>
         <span>Jobs</span>
     </a>
      
     

       <a href="/user_profile" class="nav-item">
        <i class="bi bi-person-fill-gear"></i>
        <span>Profile</span>
      </a>
     

    </div>

</div>